body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: url('../img/greencursor.png'),pointer;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button{
    background: #01996d;
    border:1px solid #01996d;
    border-radius: 4px;
    color: white;
}

a{
    text-decoration: none;
}


/* HEADER */
.containerheader{
    display: flex;
    justify-content: space-between;
    height: 50px;
    background-color:white;
    padding:10px 60px;
}

header a{
    padding-right: 25px;
    color:#292929;
    ;
}

.headerright{
    margin-top: -5px;
}

.start{
    width: 125px;
    height: 30px;
}




/* SECTION 1 BE AWARE MANAGE WELL */
#section1{
    position: relative;
    background: url('../img/womanwithhandsonhead.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 535px;
}

.containersection1{
position: relative;
    top: 15%;
    margin-left:7%;
}

h1{
    font-size: 37px;
    width: 420px;
    height: 148px;
    line-height: 48px;
    color: #01996d;
}

.containersection1 p{
    font-size: 12px;
    width: 390px;
    height: 107px;
    line-height: 21px;
}

.find{
    width: 140px;
    height:  40px;
}




/* SECTION 2 UNDERSTAND AND RELEASE */
.containersection2{
    display: flex;
    margin-left: 7%;
    margin-right: 7%;
    padding-top: 33px;
}

.lefttext{
    width:45%;
}

.lefttext h2{
    height: 148px;
    font-size: 27px;
    line-height: 43px;
    color: #01996d;
}

.righttext{
    width: 55%;
    font-size: 16px;
    line-height: 23px;
    margin-top: 22px;
}




/* SECTION 3 PERSONALIZE/WRITE AND UNDERSTAND/ALIVIO */

.containersection3{
    display: flex;
    justify-content:space-around;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 60px;
}

.containersection3 span{
    color:rgba(1, 153, 109, 0.2);
    font-size: 100px;
    color: #01996d23;
}


.containersection3 img{
    width: 100%;
}

.personalize{
    width: 30%;
}

.write{
    width: 30%;
    padding-top: 178px;
}

.alivio{
    width: 30%;
    padding-top: 33px;
}

.containersection3 h3{
    padding-left: 19%;
    margin-top: -36px;
}

.containersection3 p{
    font-size: 16px;
    height: 170px;
    line-height: 24px;
    padding-top: 24px;
}




/* SECTION 4 KAYLA'S STORY */
.containersection4{
    display: flex;
    background: #245852;
    padding: 70px;
}

.textleftsection4{
    margin-right: 3%;
    margin-top: 40px;
    color: white;
}

.containersection4 h2{
    font-size: 27px;
    line-height: 40px;
}

.containersection4 p{
    font-size: 13px;
    line-height: 25px;
    margin-top: 22px;
    margin-bottom: 41px;
}

.containersection4 img{
    width: 100%;
}




/* SECTION 5 WE MAKE YOUR DIARY */
.containersection5{
    position: relative;
    height: 588px;
}

    /* PHOTO BUST AND TEXT ON THE RIGHT */

.busttext{
    padding-top: 100px;
    padding-right: 5%;
    padding-left: 10%;
}

.photobustmikayla{
    float: left;
    width: 44%;
    border-radius: 12px;
    margin-right: 5%;
}

.textsection5{
    font-size: 13px;
    width: 85%;
    height: 107px;
    line-height: 21px;
}

.containersection5 h2{
    font-size: 31px;
    height: 109px;
    line-height: 47px;
    color: #01996d;
}



        /* PROFIL */
.mikaylaprofil{
    position: absolute;
    width: 17%;
    height: 173px;
    box-shadow: 1px 1px 12px #aaa;
    border-radius: 3.72971px;
    background-color: white;
    line-height: 35px;
    margin-top: -37px;
    margin-left:5%;
}

.mikaylaprofil span{
    font-size: 11px;
}

.customized{
    margin-top: 11px;
    margin-bottom: 5px;
}

.mikaylaprofil p{
    font-size: 9px;
    line-height: 3px;
}

.textalign{
    text-align:center;
}

.photoportraitmikayla{
    background: rgba(1, 153, 109, 0.2);
    border-radius: 50px;
    width: 20%;
    margin-left: 41%;
    margin-top: 10px;
}

figcaption{
    font-size: 11px;
    line-height: 22px;
}

.mikaylaprofil h4{
    font-size: 11px;
    line-height: 22px;
}

.containersection5 ul{
    margin-left: 22%;
    font-size: 10px;
    line-height: 18px;
}




/* FOOTER */
footer{
    height: 300px;
    background-color: #245852;
    padding-top: 40px;
    padding-left: 15%;
}

h5{
    color: white;
    font-size: 20px;
    line-height: 45px;
    margin-left: 1%;
}

footer a{    
    color: white;
    display: block;
    font-size: 14px;
    line-height: 41px;
}
















/* MEDIA QUERIES*/
/* media queries entre 950px et 1000px */
@media (min-width:950px) and (max-width:1000px)
{ /* SECTION1*/
#section1{
    height: 533px;
}

h1 {
    font-size: 32px;
    height: 125px;
}

.containersection1 p {
    font-size: 11px;
}
}







/* media queries entre 900px et 950px */
@media (min-width:900px) and (max-width:950px)
{/* SECTION1*/
#section1 {
    height: 484px;
}

h1 {
    font-size: 33px;
    line-height: 45px;
}

.containersection1 p {
    font-size: 11px;
}

/* SECTION5*/
.textsection5 {
    font-size: 12px;
    width: 97%;
    line-height: 21px;
}
}



/* media queries entre 819px et 900px */
@media (min-width:819px) and (max-width:900px)
{/* HEADER*/
.header a {
    padding-right: 19px;
}


/* SECTION1*/
#section1 {
    height: 428px;
}

h1 {
    font-size: 30px;
    line-height: 40px;
    height: 96px;
}

.containersection1 p {
    font-size: 10px;
    height: 95px;
    line-height: 21px;
}


/* SECTION2*/
.lefttext h2 {
    font-size: 25px;
    line-height: 39px;
}

.righttext {
    font-size: 13px;
    line-height: 22px;
}


/* SECTION3*/
.containersection3 p {
    font-size: 14px;
}


/* SECTION5*/
.containersection5 h2 {
    font-size: 30px;
}

.textsection5 {
    width: 90%;
}

.mikaylaprofil {
    width: 18%;
}
}



/* media queries entre 759px et 819px */
@media (min-width:759px) and (max-width:819px)
{/* HEADER */
header a {
    padding-right: 8px;
}


/* SECTION1 */
h1 {
    font-size: 27px;
    line-height: 36px;
    height: 90px;
}

.containersection1 p {
    font-size: 9px;
    line-height: 18px;
    height: 85px;
}

#section1 {
    height: 402px;
}


/* SECTION2 */
.lefttext h2 {
    font-size: 24px;
    line-height: 43px;
}

.righttext {
    font-size: 13px;
    line-height: 22px;
}



/* SECTION3 */
.containersection3 p {
    font-size: 12px;
}


/* SECTION4 */
.containersection4 img {
    width: 108%;
}


/* SECTION5 */
.photobustmikayla {
    width: 48%;
}

.containersection5 h2 {
    font-size: 26px;
    line-height: 41px;
}

.textsection5 {
    width: 94%;
}
}







/* media queries entre 673px et 759px */
@media (min-width:673px) and (max-width:759px)
{/* HEADER */

header a {
    padding-right: 12px;     
    font-size: 12px;
} 

.start {
    width: 85px;
    height: 30px;
}

/* SECTION1 */
#section1 {
    position: relative; 
    height: 346px;
}

h1 {
    font-size: 25px;
    line-height: 33px;
    height: 79px;
}

.containersection1 p {
    font-size: 8px;
    height: 64px;
    line-height: 16px;
}

.find {
    width: 110px;
    height: 31px;
}


/* SECTION2 */
.lefttext h2 {
    height: 122px;
    font-size: 19px;
    line-height: 33px;
}

.righttext {
    font-size: 10px;
    line-height: 19px;
}


/* SECTION3 */
.containersection3 p {
    font-size: 11px;
    height: 170px;
    line-height: 23px;
}


/* SECTION5 */
.containersection5 {
    height: 467px;
}

.containersection5 h2 {
    font-size: 25px;
    line-height: 38px;
    height: 85px;
}

.textsection5 {
    font-size: 10px;
    width: 85%;
    height: 78px;
    line-height: 19px;
}

.mikaylaprofil {
    height: 152px;
}

.mikaylaprofil h4 {
    font-size: 9px;
    line-height: 19px;
}

.containersection5 ul {
    font-size: 7px;
    line-height: 18px;
}
}







/* media queries entre 578px et 673px */
@media (min-width:578px) and (max-width:673px)
{/* HEADER */
header a {
    padding-right: 12px;     
    font-size: 10px;
} 

.start {
    width: 71px;
    height: 19px;
    margin-top: 5px;
}


/* SECTION1 */
h1 {
    font-size: 21px;
    width: 420px;
    height: 63px;
    line-height: 26px;
}

.containersection1 p {
    font-size: 7px;
    width: 390px;
    height: 48px;
    line-height: 14px;
}

.find {
    width: 102px;
    height: 23px;
}

#section1 {
    height: 300px;
}


/* SECTION2 */
.containersection2 p {
    font-size: 8px;
    line-height: 15px;
}

.lefttext h2 {
    font-size: 15px;
    line-height: 28px;
}


/* SECTION3 */
.lefttext h2 {
    height: 93px;
}

.containersection3 p {
    font-size: 9px;
    height: 155px;
    line-height: 22px;
    padding-top: 17px;
}


/* SECTION4 */
.containersection4 {
    padding: 32px;
}

.containersection4 p {
    font-size: 8px;
    line-height: 12px;
    margin-top: 6px;
    margin-bottom: 41px;
}


/* SECTION5 */
.containersection5 h2 {
    font-size: 21px;
    height: 71px;
    line-height: 30px;
}

.containersection5 P {
    font-size: 8px;
    line-height: 12px;
}

.textsection5 {
    height: 56px;
}

.customized {
    margin-top: 4px;
    margin-bottom: -5px;
}

.photoportraitmikayla {
    margin-top: 6px;
}

.mikaylaprofil {
    width: 20%;
    height: 135px;
}

figcaption {
    font-size: 10px;
    line-height: 7px;
    margin-bottom: 5px;
}

.mikaylaprofil h4 {
    font-size: 9px;
    line-height: 10px;
}

.containersection5 ul {
    font-size: 9px;
    line-height: 13px;
}

.containersection5 {
    height: 411px;
}
/* FOOTER */
footer {
    height: 222px;
}

h5 {
    font-size: 15px;
    line-height: 45px;
}

footer a {
    font-size: 11px;
    line-height: 25px;
}
}







/* media queries max (578px)*/
@media (max-width:578px)
{/* HEADER*/
.containerheader{
    display: grid;
    height: 100px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 100px 100px;
    padding-left: 3%;
    padding-right: 3%;
}

.navleft{
    grid-column-start: 1;
    grid-column-end: 2;
}

.navheader{
    grid-column-start: 2;
    grid-column-end: 3;
}

.headerright{
    grid-column-start: 3;
    grid-column-end: 4;
}


/* SECTION1*/

/* SECTION2*/

/* SECTION3*/

/* SECTION4*/

/* SECTION5*/

/* FOOTER*/
